body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  background: #f5d6d6;
  overflow-x: hidden;
}

/* CONTENEDOR */
.container {
  text-align: center;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  background: #f7cfcf;
  border-radius: 20px;
  margin-top: 20px;
}

/* TITULO */
#titulo {
  font-size: 2em;
  animation: brillo 2s infinite alternate, flotar 3s infinite;
}

@keyframes brillo {
  from { text-shadow: 0 0 5px #ff69b4; }
  to { text-shadow: 0 0 20px #ff1493; }
}

@keyframes flotar {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

/* FOTO */
.foto {
  width: 95%;
  max-width: 350px;
  border-radius: 15px;
  margin: 15px 0;
}

/* TEXTO */
.mensaje {
  color: #ff1493;
  font-size: 1em;
  padding: 0 10px;
  animation: brillo 3s infinite alternate;
}

/* BOTONES */
button {
  padding: 10px 20px;
  font-size: 1em;
  background: pink;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

/* BOTÓN SORPRESA */
#musica {
  background: #ffb6c1;
}

/* CORAZONES */
.corazon {
  position: fixed;
  top: -10px;
  animation: caer linear infinite;
}

@keyframes caer {
  to { transform: translateY(110vh); }
}

/* HELLO KITTY SUBIENDO */
.kitty {
  position: fixed;
  bottom: -50px;
  animation: subirKitty 5s linear forwards;
}

@keyframes subirKitty {
  to {
    transform: translateY(-110vh);
  }
}
